<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" (click)="close()" >&times;</button>
            <h4 class="modal-title">{{title || 'Edit Post'}}</h4>
        </div>
        <div class="modal-body">            
            <div class="form-group">
                <label for="postBody">Add Your Reply</label>
                <textarea  class="form-control" rows="3" cols="80" id="postBody" #postBody ></textarea>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" (click)="close()" >Cancel</button>            
            <button type="button" class="btn btn-primary" (click)="confirm()">Post Reply</button>
        </div>
    </div>
</div>
