<div class="list-group">
  <!-- <ul>
      <li class="list-group-item" *ngFor="let p of posts">
          <display-post [post]="p"></display-post>
      </li>
  </ul> -->
  <topNavBar (didPost)="onCreatePost()" (search)="onSearch($event)" (didLogin)="onLogin()"></topNavBar>
  <table class="table">
      <thead>
        <tr>
          <th scope="col" (click)="onTitle()">TITLE
              <span *ngIf="sortTitle" class="glyphicon glyphicon-chevron-down"></span>
              <span *ngIf="!sortTitle" class="glyphicon glyphicon-chevron-right"></span>
          </th>
          <th scope="col" (click)="onAuthorClick()">AUTHOR
              <span *ngIf="sortAuthor" class="glyphicon glyphicon-chevron-down"></span>
              <span *ngIf="!sortAuthor" class="glyphicon glyphicon-chevron-right"></span>
          </th>
          <th scope="col">DATE</th>
          <th scope="col">REPLIES</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let p of posts">
            <td class="post-td">
              <a routerLink="detail/{{p._id}}" >{{p.title}}</a>
            </td>
            <td>{{p.userName || 'User'}}</td>
            <td>{{p.createdAt}}</td>
            <td>{{p.comments && p.comments.length}}</td>
        </tr>
      </tbody>
    </table>
</div>
